<section
  class="mt-10 sm:mt-16 grid grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-8 animate-fade-in-up delay-500 relative z-10"
>
  <div
    class="bg-[var(--secondaryContainer)] rounded-xl p-4 sm:p-6 shadow-md hover:scale-[1.03] transition-transform duration-200 animate-fade-in"
  >
    <h2 class="text-xl sm:text-2xl font-semibold mb-3 text-[var(--secondary)]">
      ¿Qué es NexoMedics?
    </h2>
    <p class="text-[var(--onSecondaryContainer)]">
      Una app inteligente que recomienda tu perfil a pacientes que realmente
      necesitan tus servicios. Te damos visibilidad sin esfuerzo.
    </p>
  </div>
  <div
    class="bg-[var(--tertiaryContainer)] rounded-xl p-4 sm:p-6 shadow-md hover:scale-[1.03] transition-transform duration-200 animate-fade-in delay-100 mt-5 sm:mt-0"
  >
    <h2 class="text-xl sm:text-2xl font-semibold mb-3 text-[var(--tertiary)]">
      ¿Por qué registrarte?
    </h2>
    <ul class="list-disc ml-5 text-[var(--onTertiaryContainer)] space-y-2">
      <li class="animate-list-fade-in">Obtén pacientes sin intermediarios</li>
      <li class="animate-list-fade-in delay-100">
        Control total de tu agenda y modalidad (presencial/remoto)
      </li>
      <li class="animate-list-fade-in delay-200">
        Participa gratis en la fase beta
      </li>
      <li class="animate-list-fade-in delay-300">
        Tu perfil estará verificado y en tendencia
      </li>
    </ul>
  </div>
</section>
