<section
  class="text-center space-y-5 sm:space-y-6 animate-fade-in-up relative z-10"
>
  <h1
    class="text-2xl xs:text-3xl sm:text-5xl font-bold text-[var(--primary)] drop-shadow-md animate-slide-in leading-tight"
  >
    Únete a NexoMedix
  </h1>
  <p
    class="text-base xs:text-lg sm:text-xl text-[var(--onBackground)] animate-fade-in delay-200"
  >
    La plataforma que conecta pacientes con especialistas como tú
  </p>
  <a
    href="#form"
    class="bg-[var(--primary)] text-[var(--onPrimary)] px-4 py-3 sm:px-6 rounded-full text-base sm:text-lg font-semibold shadow-lg hover:bg-[var(--primaryContainer)] hover:text-[var(--onPrimaryContainer)] transition-colors duration-200 inline-block animate-bounce-short"
    >Notificarme cuando la fase beta este abierta</a
  >
</section>
