<section class="mt-10 sm:mt-20 animate-fade-in-up delay-300 relative z-10 px-1">
  <h2 class="text-xl sm:text-2xl font-bold mb-4 text-[var(--primary)]">
    ¿Por qué hicimos esta app?
  </h2>
  <p
    class="text-[var(--onBackground)] text-sm sm:text-lg leading-relaxed bg-[var(--primaryContainer)] rounded-xl p-3 sm:p-4 shadow-sm animate-fade-in delay-400"
  >
    En un entorno donde acceder a servicios de salud personalizado suele ser
    complejo y lento, NexoMedix surge con una misión clara: facilitar la
    conexión entre pacientes y especialistas de manera eficiente, precisa y
    transparente. Nuestro propósito es eliminar las barreras que dificultan el
    acceso a servicios de salud de calidad, promoviendo una comunidad basada en
    la confianza, la accesibilidad y la innovación. Aspiramos a empoderar a los
    especialistas mediante tecnología avanzada, permitiéndoles llegar a quienes
    más lo necesitan y contribuyendo así a una atención más equitativa y
    efectiva.
  </p>
</section>
