<section class="mt-10 sm:mt-20 animate-fade-in-up delay-300 relative z-10 px-1">
  <h2 class="text-xl sm:text-2xl font-bold mb-4 text-[var(--primary)]">
    ¿Por qué hicimos esta app?
  </h2>
  <p
    class="text-[var(--onBackground)] text-sm sm:text-lg leading-relaxed bg-[var(--primaryContainer)] rounded-xl p-3 sm:p-4 shadow-sm animate-fade-in delay-400"
  >
    En un mundo donde encontrar atención médica personalizada puede ser
    complicado y tardado, Profindly nace con una misión clara: conectar a los
    pacientes con los especialistas adecuados de manera ágil, precisa y
    transparente. Nuestro objetivo es eliminar las barreras entre quienes
    necesitan ayuda y quienes pueden brindarla. Queremos construir una comunidad
    médica basada en la confianza, el acceso y la innovación, empoderando a los
    especialistas con tecnología que les permita llegar a quienes más los
    necesitan.
  </p>
</section>
